@{
    var candidate = ViewData["Candidate"] as erecruiter.Candidate;
    var experiences = ViewData["Experiences"] as List<erecruiter.Experience>;
}

<link rel="stylesheet" href="~/css/candidate.css"/>
<div class="content">
    @await Html.PartialAsync("_Menu")
    <div class="candidate">
        <table class="data-table">
            <tr>
                @if (String.IsNullOrEmpty(candidate.PhotoData))
                {
                <td width="30%">
                    <img src="~/images/unknown.jpg" width="90%" height="100%">
                </td>
                }
                else
                {
                <td width="30%">
                    <img src="data:image/jpeg;base64, @candidate.PhotoData" width="90%" height="100%">
                </td>               
                }
                <td width="70%">
                    <table class="inner-data-table">
                        <tr>
                            <td>Name: @candidate.Name</td>
                            @if (String.IsNullOrEmpty(candidate.Email))
                            {
                            <td>Email: not available</td>
                            }
                            else
                            {
                            <td>Email: @candidate.Email</td>
                            }
                        </tr>
                        <tr>
                            <td>Surname: @candidate.Surname</td>
                            @if (String.IsNullOrEmpty(candidate.MobilePhone))
                            {
                            <td>Phone: not available</td>
                            }
                            else
                            {
                            <td>Phone: @candidate.MobilePhone</td>
                            }                           
                        </tr>
                        <tr>
                            <td>Bithdate: @candidate.BirthDate</td>
                            @if (candidate.HomeOffice.Equals("true"))
                            {
                            <td>Home Office: yes</td>
                            }
                            else
                            {
                            <td>Home Office: no</td>
                            }
                        </tr>
                        <tr>
                            <td>Gender: @candidate.Gender</td>
                            @if (candidate.ExWorker.Equals("true"))
                            {
                            <td>Exworker: yes</td>
                            }
                            else
                            {
                            <td>Exworker: no</td>
                            }
                        </tr>
                        <tr>
                            @if (String.IsNullOrEmpty(candidate.CVFileData))
                            {
                            <td>CVFile: not available</td>
                            }
                            else
                            {
                            <td>CVFile: 
                                <a href="data:application/pdf;base64, @candidate.CVFileData" download="cv.pdf">Download</a>
                            </td>
                            }
                            @if (String.IsNullOrEmpty(candidate.WantedSalary))
                            {
                            <td>Wanted salary: not set</td>
                            }
                            else
                            {
                            <td>Wanted salary: @candidate.WantedSalary</td>
                            }
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table class="edit-table">
            <tr>
                <td width="70%">
                    <fieldset>
                        <legend>Experience</legend>
                        @if (experiences.Count!=0)
                        {
                        <table class="exp-table">
                            <tr>
                                <th>Name</th>
                                <th>Title</th>
                                <th>Start date</th>
                                <th>End date</th>
                            </tr>
                            <tr>
                                <td>1111</td>
                                <td>2222</td>
                                <td>3333</td>
                                <td>4444</td>
                            </tr>
                        </table>
                        }
                        else
                        {
                        <p>No records found</p>
                        }
                    </fieldset>
                </td>
                <td width="30%">
                    <form action="/AddExperience" method="post">
                        <input type="hidden" name="id" value="@candidate.Id"/>
                        <input class="button button-change" type="submit" value="Add experience"/>
                    </form>
                    <form action="/EditCandidate" method="post">
                        <input type="hidden" name="candidate" value="@candidate"/>
                        <input class="button button-change" type="submit" value="Edit candidate"/>
                    </form>
                    <form action="/DeleteCandidate" method="post">
                        <input type="hidden" name="id" value="@candidate.Id"/>
                        <input class="button button-change" type="submit" value="Delete"/>
                    </form>
                </td>
            </tr>
        </table>
    </div>
    @await Html.PartialAsync("_Footer")
</div>
