@{
    var emailTitle = ViewData["DefaultTitle"];
    var emailText = ViewData["DefaultText"];
    var emailTemplates = ViewData["EmailTemplates"] as List<erecruiter.EmailTemplate>;
}


<link rel="stylesheet" href="~/css/contact.css"/>
<div class="content">
    @await Html.PartialAsync("_Menu")
    <div class="title">
        <p>Contact candidate</p>
        <hr>
    </div>
	<div class="contact">
        <table class="main-table">
            <tr>
                <td width="50%">
                    <form class="send-form" action="/SendEmail" method="post">
                        <div class="adress-div">
                            <label for="adress">Adress: </label>
                            <input type="text" name="adress" value="example@dot.com..">
                        </div>
                        <div class="subj-div">
                            <input type="text" name="subject" value="@emailTitle">
                        </div>
                        <div class="text-div">
                            <textarea rows="6" cols="40" name="text">@emailText</textarea>
                        </div>
                        <div class="send-div">
                            <input class="button button-send" type="submit" value="Send">
                        </div>
                    </form>
                </td>
                <td width="50%">
                    <div class="template-div">
                       @if (emailTemplates.Count != 0)
                       {
                       <table class="template-table">
                           @for(int i = 0; i < emailTemplates.Count; i++)
                           {
                           <tr>
                              <td width="70%">@emailTemplates[i].Title</td>
                              <td width="15%">
                                  <form class="form" action="/SelectEmailTemplate" method="post">
                                      <input type="hidden" name="id" value="@emailTemplates[i].Id"/>
                                      <input class="button button-template" type="submit" value="Select"/>
                                  </form>
                              </td>
                              <td width="15%">
                                  <form class="form" action="/Home/UpdateEmailTemplate" method="post">
                                      <input type="hidden" name="id" value="@emailTemplates[i].Id"/> 
                                      <input class="button button-template" type="submit" value="Edit"/>
                                  </form>
                              </td>
                           </tr>
                           }
                       </table>
                       }
                       else
                       {
                       <p>No email templates found</p>
                       }
                    </div>
                    <input class="button button-add" type="button" value="Add email template"
                     onclick="location.href='/Home/AddEmailTemplate'"/>
                </td>
            </tr>
        </table>
    </div>
    @await Html.PartialAsync("_Footer")
</div>
