@{
    var userName = ViewData["UserName"];
	var reminders = ViewData["Reminders"] as List<erecruiter.Reminder>;
}

<link rel="stylesheet" href="~/css/home.css"/>
<div class="content">
    @await Html.PartialAsync("_Menu")
    <div class="title">
        <p>Good day to you, @userName</p>
        <hr>
    </div>   
    @if (reminders.Count!=0)
    {
    <div class="reminders">
        <table class="reminders-table">
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
            @for(int i = 0; i < reminders.Count; i++)
	        {
            <form action="/DeleteReminder" method="post">
            <tr>
                <td><input type="hidden" name="Id" value="@reminders[i].Id"/>@reminders[i].Id</td>
                <td>@reminders[i].Text</td>
                <td>@reminders[i].Created</td>
                <td><input class="button button-delete-reminder" type="submit" value="Delete"/></td>
            </tr>
            </form>
            }
        </table>
    </div>
    <input class="button button-add-reminder" type="button" value="Add reminder" onclick="location.href='/Home/AddReminder'"/>
	}
	else
	{
    <p>You do not have any active reminders</p>
    <input class="button button-add-reminder" type="button" value="Add reminder" onclick="location.href='/Home/AddReminder'"/>
    }
    @await Html.PartialAsync("_Footer")
</div>
